<footer class="site-footer">
    <div class="container-fluid">

    <div class="row redes-sociales">
      <div class="col-sm-12">
        <ul class="list-inline list-unstyled h1 pull-right">
          <li><a href="#" ><i class="icon-zocial-facebook"></i></a></li>
          <li><a href="#"><i class="icon-zocial-twitter"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div id="udala" class="vcard">
          <h1 class="fn footer-heading"><a class="url" href="#">Getariako Udala</a></h1>
          <p class="adr">
            <span class="glyphicon glyphicon-home">&nbsp;</span><span class="street-address">Gudarien enparantza 1</span>
            <span class="postal-code">20808</span> &ndash; <span class="locality">Getaria</span><br>
          </p>
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>Phone: <span class="tel">(+34) 943 896 024</span><br>
          <span class="glyphicon glyphicon-envelope">&nbsp;</span>Correo electrónico: <span class="email">udala@getaria.org</span><br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div id="turismo" class="vcard">
          <h1 class="fn footer-heading"><a class="url" href="http:///www.getariaturismo.com">Getariako Turismoa</a></h1>
          <p class="adr">
            <span class="glyphicon glyphicon-home">&nbsp;</span><span class="street-address">Aldamar Parkea 2</span>
            <span class="postal-code">20808</span> &ndash; <span class="locality">Getaria</span><br>
          </p>
          <span class="glyphicon glyphicon-earphone">&nbsp;</span>Phone: <span class="tel">(+34) 943 140 957</span><br>
          <span class="glyphicon glyphicon-envelope">&nbsp;</span>Correo electrónico: <span class="email">info@getariaturismo.eus</span><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <hr>
        {% assign this = page.url %}
        {% assign language = "" %}
        {% if this == "/" %}{% assign language = "es/" %}{% endif %}
        <ul class="footer-menu list-inline list-unstyled text-center">
          <li><a href="#">Mapa Web</a></li>
          <li><a href="#">Aviso legal</a></li>
          <li><a href="#">Privacidad</a></li>
          <li><a href="{{ "contacto" | prepend: language | prepend: absolute_url }}">Contacto</a></li>
        </ul>
      </div>

    </div>

  </div>
</footer>
