<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="name navbar-brand" href="/{{ page.language }}" title="Home">
      <span class="visible-xs">{{ site.title }}</span>
      <img src="/assets/images/{{ site.logo }}" alt="{{ site.title }}" class="img-responsive img-circle hidden-xs">
    </a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right h3" role="menu">
      {% assign items = site.data.navegacion[include.language] %}
      {% for item in items %}
        {% assign subitems = site.pages | where: 'language', page.language | where: 'navegacion', item[0] | sort: 'orden' %}
        <li class="{% if subitems.size > 0 %}dropdown{% endif %}{%if page.url == item[1].url %} active{% endif %}">
          <a href="{{ item[1].url }}" {% if subitems.size > 0 %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{ item[1].name }}
            {% if subitems.size > 0 %}<span class="caret"></span>{% endif %}
          </a>
          {% if subitems.size > 0 %}
            <ul class="dropdown-menu list-unstyled" role="menu">
            {% for subitem in subitems %}
              <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
