---
layout: default
---

{% if page.navegacion != nil %}
<div class="breadcrumb">
  <a href="{{ "/" | append: page.language | prepend: site.baseurl | prepend: site.url }}">{{ site.data.navegacion[page.language]["inicio"].name }}</a> &raquo; {{ site.data.navegacion[page.language][page.navegacion].name | camelcase }}
</div>
{% endif %}

<article>
  <header>
    <h1 class="page-header">{{ page.title }}</h1>
  </header>
  {% if page.image-banner != nil %}
  <img typeof="foaf:Image"
       class="img-responsive"
       src="{{ "/assets/images/pages/" | append: page.image-banner | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if page.image != nil %}
    <div class="col-xs-4 col-xs-offset-0 col-sm-3 col-sm-offset-0">
      <img src="{{ "/assets/images/pages/" | append: page.image | prepend: site.baseurl | prepend: site.url }}" class="img-responsive fondo-marron pull-right" alt="{{ page.title }}">
    </div>
  {% endif %}
  {{ content }}
  {% if page.archivos != nil %}
    {% for archivo in page.archivos %}
    <span class="file">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <a href="{{ "/assets/archivos/" | append: archivo.archivo | prepend: site.baseurl | prepend: site.url }}"
         title="{{ archivo.titulo }}">{{ archivo.titulo }}</a>
    </span>
    {% endfor %}
  {% endif %}
</article>
